# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*.html       @jonico @bitoiu @rerwinx @pmanlukas
CODEOWNERS @jonico @bitoiu
*LICENSE*    @octodemo/Maintainers
assets/images/*  @pmanlukas @rerwinx @jonico
