<div class="object-panel-wrap" id="cp-eyewear">
    <div class="object-panel object-panel__objects">
        <div class="object-panel__inner">

            <div class="remove-category" data-category="eyewear">
                <p class="sr-only">Remove object</p>
            </div>

            {% for item in site.data.eyewear %}
            <div class="tile object-preview {% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-category="eyewear" data-classes="{% for rule in item.rules %}{{rule.rule}}{% if forloop.last == false %},{% endif %}{% endfor %}">
                <span>
                    <img class="preview" src="/objects/eyewear/icons/{{ item.icon }}" alt="{{ item.name }}" />

                    <div class="object eyewear{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="eyewear{% if item.position %}-{{ item.position }}{% endif %}-holder" data-classes="{% for rule in item.rules %}{{rule.rule}} {% endfor %}">
                        {% include_relative objects/eyewear/{{ item.image }} %}
                    </div>

                    {% if item.moreObjects %}
                    {% for object in item.moreObjects %}
                    <div class="object eyewear{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="eyewear-back-holder" data-classes="{% for rule in item.rules %}{{rule.rule}} {% endfor %}">
                        {% include_relative objects/eyewear/{{ object.object }} %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </span>
            </div>
            {% endfor %}

        </div>

        {% include arrows.html %}
    </div>
</div>
