<div id="category-list">
    <div class="category-panel" id="js-draggable">

        <div class="category-panel__inner">
            <div class="category-tile tile is-active" data-target="cp-body">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-skin-color.svg' | relative_url }}" alt="skin color" />
                    <p>Body</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-face">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-facial-expressions.svg' | relative_url }}" alt="skin color" />
                    <p>Face</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-eyes">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-eyes.svg' | relative_url }}" alt="eyes" />
                    <p>Eyes</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-mouths">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-mouths.svg' | relative_url }}" alt="mouths" />
                    <p>Mouth</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-hair" id="hair-preview">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-hair.svg' | relative_url }}" alt="hair" />
                    <p>Hair</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-faceHair">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-facial-hair.svg' | relative_url }}" alt="facial hair" />
                    <p>Facial Hair</p>
                </span>
            </div>


            <div class="category-tile tile" data-target="cp-tops">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-tops.svg' | relative_url }}" alt="tops" />
                    <p>Tops</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-bottoms" id="bottoms-preview">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-bottoms.svg' | relative_url }}" alt="bottoms" />
                    <p>Bottoms</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-footwear">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-footwear.svg' | relative_url }}" alt="footwear" />
                    <p>Footwear</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-headgear" id="headgear-preview">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-headgear.svg' | relative_url }}" alt="headgear" />
                    <p>Headgear</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-eyewear">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-eyewear.svg' | relative_url }}" alt="eyewear" />
                    <p>Eyewear</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-misc">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-misc.svg' | relative_url }}" alt="misc" />
                    <p>Accessories</p>
                </span>
            </div>

            <div class="category-tile tile" data-target="cp-props">
                <span>
                    <img class="preview" src="{{ '/categories/icons/category-props.svg' | relative_url }}" alt="props" />
                    <p>Props</p>
                </span>
            </div>
        </div>


        {% include arrows.html %}
    </div>


</div>
