        <footer class="site-footer">
            <div class="wrapper">
                <a href="https://github.com/" target="_blank" title="Visit GitHub.com">
                    <img src="{{ '/assets/images/GitHub-logo.svg' | relative_url}}" alt="GitHub icon" />
                </a>

                <ul>
                    <li>
                        <a href="https://github.com/" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/monatheoctocat" target="_blank">Gallery</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/#myoctocat" target="_blank">#MyOctocat</a>
                    </li>
                    <li>
                        <a href="{{ '/terms/' | relative_url }}">Terms</a>
                    </li>
                    <li>
                        <a href="https://help.github.com/articles/github-privacy-statement/" target="_blank">Privacy</a>
                    </li>
                </ul>

                <!-- <small>© <script>document.write(new Date().getFullYear())</script> GitHub, Inc. Octocat Generator™ is a registered trademark of GitHub, Inc. All Rights Reserved.</small> -->
                <small>© <script>document.write(new Date().getFullYear())</script> GitHub, Inc. OCTOCAT is a trademark of GitHub, Inc., registered in the United States and other countries. All Rights Reserved.</small>
            </div>
        </footer>
