// ---------------------------------------------------------------------
//  Octocat (Actual SVG)
// ---------------------------------------------------------------------


#octocat {
    position: relative;

    > * {
        pointer-events: none;
    }

    // #ears {
    //     &.is-hidden {
    //         display: none;
    //     }
    // }

    #head {
        position: absolute;
        z-index: 12;
        top: 0;
        left: 0;
    }

    #body {
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
    }



    #Masked,
    #masked {
        display: none;
    }

    g.is-hidden {
        display: none;
    }

    &.hide-ears {
        #ears {
            display: none;
        }
    }

    &.hide-hand {
        g#hand {
            display: none;
            opacity: 0;
            position: absolute;
            left: -9999999px;
            top: -99999999px;
            height: 0;
            width: 0;
        }
    }

    &.hide-whiskers {
        #whiskers {
            display: none;
        }
    }

    &.no-big-hair {

        .big-hair  {
            display: none;
        }

        #hair-holder,
        #hair-front-holder {
            #Original,
            #original,
            #Original_copy,
            #original_copy {
                display: none;
            }

            #Masked,
            #masked {
                display: block;
            }
        }
    }

    &.no-medium-hair .medium-hair  {
        display: none;
    }

    &.no-hair #hair-holder,
    &.no-hair #hair-front-holder  {
        display: none;
    }


    &.big-hair-active {
        .no-big-hair {
            display: none;
        }
    }

    &.no-back-facialhair #faceHair-back-holder {
        display: none;
    }

    &.no-big-collars .big-collar {
        display: none;
    }


    &.no-pants [data-cat="bottoms"] {
        display: none;
    }

    &.no-xl-pants .xl-pants {
        display: none;
    }

    &.no-xxl-pants .xxl-pants {
        display: none;
    }


    &.hide-low-facehair {
        #faceHair-low-holder {
            display: none;
        }
    }
}


 .object.headgear {
    transform: scale(1);
    transform-origin: center;
}


.enlarge-headgear .object.headgear {
    transform: scale(1.12);
    transform-origin: center;
}
